:root {
    --primary: rgba(255, 255, 255, 0);
}
.btn {
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.btn--primary {

}
.btn--outline {
    background: linear-gradient(to right, orangered, deeppink);
    padding: 8px 20px;
    border: none;
    transition: all 0.3s ease-out;
}

.btn--outline > a{
    color: white;
}
.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
    background: white;
    color: deeppink;
}
.btn--large {
    padding: 8px 20px;
    font-size: 20px;
}
.btn--medium:hover, .btn--large:hover {
    transition: all 0.3s ease-out;
}